 <!-- MARK: Header -->
    <header>
        <div class="header-container">
            <div class="logo-nav-container">
                <img class="logo-img" src="horse-logo.png" alt="Конный клуб">
                
                <div class="logo-text-nav">
                    <div class="logo-text">
                        <span class="logo-main">ROYAL STABLE</span>
                        <span class="logo-sub">CONNOISSEURS CLUB</span>
                    </div>
                    
                    <nav>
                        <ul>
                            <li><a href="#">О клубе</a></li>
                            <li><a href="#">Каталог</a></li>
                            <li><a href="#">Акции</a></li>
                            <li><a href="#">Новинки</a></li>
                            <li><a href="#">Бренды</a></li>
                            <li><a href="#">Отзывы</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <div class="header-actions">
                <div class="phone">
                    <i class="fas fa-phone"></i> +7 (123) 456-78-90
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </header>